/* Nav bar */
.myfooter {
    text-align: center;
}
.navbar-expand-sm {
    background-color: #50808E;
}
.mynav {
    color: black;
    text-decoration: none;
}
.btn-primary {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #50808E;
    border-color: #a3c9a8;
    color: #a3c9a8;
}
/* main tag css */
body {
    
}
a {
    text-decoration: none;
    color: #50808E;
    padding-right: 25px;
}
h1 {
    margin: 10px;
}
/*Home Page */

/* carousel */
#carouselId {
   margin-left: 20%;
    width: 1024px;
   height: 640px;
}
.carousel-item {
    width: 1024px;
   height: 640px;
}
.carouselPicture {
    width: 1024px;
    height: 640px;
}

.aboutUs {
    width: 90%;
    margin-left: 10px;
}

/* Mountain Page */

/*mountain drop down */
#mountainDropDown {
    width: 500px;
}

/* mountain cards */
.mountain {    
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #DDD8C4;
}
.mountain-photo {
    margin: 10px;
    float:inline-start;
    width: 200px;
    length: 250px; 
}
.mountain-name {
    font-size: x-large;
}
.mountain-desc {
    display: block;
    font-size: large;
}
.app-title {
    color: white;
}
.footer {
    color: white;
}
/* Parks Page */ 

/* Parks dropdown */
#stateDropDown {
    width: 250px;
}
#parkTypeDropDown {
    width: 250px;
}
/* park cards */
.parks {
    width: 750px;
    background-color: #DDD8C4;
}
.location-name {
    margin-left: 5px;
    font-size: x-large;
}
.park-address {
    font-size: larger;
    margin-left: 5px;
}
.park-city {
    font-size: larger;
    margin-left: 5px;
}
.park-lang {
    margin-left: 5px;
}

/* Footer */
#socials {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #DDD8C4;
}
.fa-brands {
    margin-top: 15px;
    margin-left: 15px;
}